body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1383px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2493px;
}
#u6 {
  position:absolute;
  left:20px;
  top:20px;
  width:320px;
  height:2493px;
}
#u7 {
  position:absolute;
  left:2px;
  top:1238px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:187px;
  top:1917px;
  width:0px;
  height:0px;
  color:#FF6633;
}
#u8_seg0 {
  position:absolute;
  left:-5px;
  top:-6px;
  width:8px;
  height:5px;
}
#u8_seg1 {
  position:absolute;
  left:-5px;
  top:-6px;
  width:220px;
  height:8px;
}
#u8_seg2 {
  position:absolute;
  left:208px;
  top:-7px;
  width:8px;
  height:9px;
}
#u8_seg3 {
  position:absolute;
  left:211px;
  top:-7px;
  width:5px;
  height:8px;
}
#u8_seg4 {
  position:absolute;
  left:-11px;
  top:-14px;
  width:21px;
  height:20px;
}
#u8_seg5 {
  position:absolute;
  left:203px;
  top:-13px;
  width:21px;
  height:21px;
}
#u9 {
  position:absolute;
  left:56px;
  top:-10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10 {
  position:absolute;
  left:405px;
  top:1908px;
  width:978px;
  height:76px;
  font-size:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:73px;
  top:2365px;
  width:0px;
  height:0px;
  color:#FF6633;
}
#u12_seg0 {
  position:absolute;
  left:-5px;
  top:-6px;
  width:8px;
  height:5px;
}
#u12_seg1 {
  position:absolute;
  left:-5px;
  top:-6px;
  width:220px;
  height:8px;
}
#u12_seg2 {
  position:absolute;
  left:208px;
  top:-6px;
  width:8px;
  height:9px;
}
#u12_seg3 {
  position:absolute;
  left:208px;
  top:-5px;
  width:103px;
  height:8px;
}
#u12_seg4 {
  position:absolute;
  left:-11px;
  top:-14px;
  width:21px;
  height:20px;
}
#u12_seg5 {
  position:absolute;
  left:297px;
  top:-11px;
  width:20px;
  height:20px;
}
#u13 {
  position:absolute;
  left:104px;
  top:-10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u14 {
  position:absolute;
  left:405px;
  top:2355px;
  width:301px;
  height:19px;
  font-size:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:71px;
  top:2421px;
  width:0px;
  height:0px;
  color:#FF6633;
}
#u16_seg0 {
  position:absolute;
  left:-5px;
  top:-6px;
  width:8px;
  height:5px;
}
#u16_seg1 {
  position:absolute;
  left:-5px;
  top:-6px;
  width:220px;
  height:8px;
}
#u16_seg2 {
  position:absolute;
  left:208px;
  top:-6px;
  width:8px;
  height:9px;
}
#u16_seg3 {
  position:absolute;
  left:208px;
  top:-5px;
  width:103px;
  height:8px;
}
#u16_seg4 {
  position:absolute;
  left:-11px;
  top:-14px;
  width:21px;
  height:20px;
}
#u16_seg5 {
  position:absolute;
  left:297px;
  top:-11px;
  width:20px;
  height:20px;
}
#u17 {
  position:absolute;
  left:104px;
  top:-10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u18 {
  position:absolute;
  left:403px;
  top:2411px;
  width:193px;
  height:19px;
  font-size:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:73px;
  top:2491px;
  width:0px;
  height:0px;
  color:#FF6633;
}
#u20_seg0 {
  position:absolute;
  left:-5px;
  top:-6px;
  width:8px;
  height:5px;
}
#u20_seg1 {
  position:absolute;
  left:-5px;
  top:-6px;
  width:220px;
  height:8px;
}
#u20_seg2 {
  position:absolute;
  left:208px;
  top:-6px;
  width:8px;
  height:9px;
}
#u20_seg3 {
  position:absolute;
  left:208px;
  top:-5px;
  width:103px;
  height:8px;
}
#u20_seg4 {
  position:absolute;
  left:-11px;
  top:-14px;
  width:21px;
  height:20px;
}
#u20_seg5 {
  position:absolute;
  left:297px;
  top:-11px;
  width:20px;
  height:20px;
}
#u21 {
  position:absolute;
  left:104px;
  top:-10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u22 {
  position:absolute;
  left:404px;
  top:2481px;
  width:407px;
  height:19px;
  font-size:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  word-wrap:break-word;
}
