body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1383px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2493px;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:320px;
  height:2493px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1238px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:187px;
  top:1917px;
  width:0px;
  height:0px;
  color:#FF6633;
}
#u2_seg0 {
  position:absolute;
  left:-5px;
  top:-6px;
  width:8px;
  height:5px;
}
#u2_seg1 {
  position:absolute;
  left:-5px;
  top:-6px;
  width:220px;
  height:8px;
}
#u2_seg2 {
  position:absolute;
  left:208px;
  top:-7px;
  width:8px;
  height:9px;
}
#u2_seg3 {
  position:absolute;
  left:211px;
  top:-7px;
  width:5px;
  height:8px;
}
#u2_seg4 {
  position:absolute;
  left:-11px;
  top:-14px;
  width:21px;
  height:20px;
}
#u2_seg5 {
  position:absolute;
  left:203px;
  top:-13px;
  width:21px;
  height:21px;
}
#u3 {
  position:absolute;
  left:56px;
  top:-10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4 {
  position:absolute;
  left:405px;
  top:1908px;
  width:978px;
  height:76px;
  font-size:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:73px;
  top:2365px;
  width:0px;
  height:0px;
  color:#FF6633;
}
#u6_seg0 {
  position:absolute;
  left:-5px;
  top:-6px;
  width:8px;
  height:5px;
}
#u6_seg1 {
  position:absolute;
  left:-5px;
  top:-6px;
  width:220px;
  height:8px;
}
#u6_seg2 {
  position:absolute;
  left:208px;
  top:-6px;
  width:8px;
  height:9px;
}
#u6_seg3 {
  position:absolute;
  left:208px;
  top:-5px;
  width:103px;
  height:8px;
}
#u6_seg4 {
  position:absolute;
  left:-11px;
  top:-14px;
  width:21px;
  height:20px;
}
#u6_seg5 {
  position:absolute;
  left:297px;
  top:-11px;
  width:20px;
  height:20px;
}
#u7 {
  position:absolute;
  left:104px;
  top:-10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8 {
  position:absolute;
  left:405px;
  top:2355px;
  width:301px;
  height:19px;
  font-size:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:71px;
  top:2421px;
  width:0px;
  height:0px;
  color:#FF6633;
}
#u10_seg0 {
  position:absolute;
  left:-5px;
  top:-6px;
  width:8px;
  height:5px;
}
#u10_seg1 {
  position:absolute;
  left:-5px;
  top:-6px;
  width:220px;
  height:8px;
}
#u10_seg2 {
  position:absolute;
  left:208px;
  top:-6px;
  width:8px;
  height:9px;
}
#u10_seg3 {
  position:absolute;
  left:208px;
  top:-5px;
  width:103px;
  height:8px;
}
#u10_seg4 {
  position:absolute;
  left:-11px;
  top:-14px;
  width:21px;
  height:20px;
}
#u10_seg5 {
  position:absolute;
  left:297px;
  top:-11px;
  width:20px;
  height:20px;
}
#u11 {
  position:absolute;
  left:104px;
  top:-10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12 {
  position:absolute;
  left:403px;
  top:2411px;
  width:193px;
  height:19px;
  font-size:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:73px;
  top:2491px;
  width:0px;
  height:0px;
  color:#FF6633;
}
#u14_seg0 {
  position:absolute;
  left:-5px;
  top:-6px;
  width:8px;
  height:5px;
}
#u14_seg1 {
  position:absolute;
  left:-5px;
  top:-6px;
  width:220px;
  height:8px;
}
#u14_seg2 {
  position:absolute;
  left:208px;
  top:-6px;
  width:8px;
  height:9px;
}
#u14_seg3 {
  position:absolute;
  left:208px;
  top:-5px;
  width:103px;
  height:8px;
}
#u14_seg4 {
  position:absolute;
  left:-11px;
  top:-14px;
  width:21px;
  height:20px;
}
#u14_seg5 {
  position:absolute;
  left:297px;
  top:-11px;
  width:20px;
  height:20px;
}
#u15 {
  position:absolute;
  left:104px;
  top:-10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u16 {
  position:absolute;
  left:404px;
  top:2481px;
  width:407px;
  height:19px;
  font-size:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  word-wrap:break-word;
}
