body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:574px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u24 {
  position:absolute;
  left:20px;
  top:20px;
  width:320px;
  height:568px;
}
#u25 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:247px;
  top:134px;
  width:0px;
  height:0px;
  color:#FF6633;
}
#u26_seg0 {
  position:absolute;
  left:-4px;
  top:-5px;
  width:8px;
  height:5px;
}
#u26_seg1 {
  position:absolute;
  left:-4px;
  top:-5px;
  width:220px;
  height:8px;
}
#u26_seg2 {
  position:absolute;
  left:208px;
  top:-6px;
  width:8px;
  height:9px;
}
#u26_seg3 {
  position:absolute;
  left:211px;
  top:-6px;
  width:5px;
  height:8px;
}
#u26_seg4 {
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u26_seg5 {
  position:absolute;
  left:204px;
  top:-12px;
  width:20px;
  height:20px;
}
#u27 {
  position:absolute;
  left:56px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u28 {
  position:absolute;
  left:465px;
  top:125px;
  width:76px;
  height:19px;
  font-size:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:180px;
  top:163px;
  width:0px;
  height:0px;
  color:#FF6633;
}
#u30_seg0 {
  position:absolute;
  left:-4px;
  top:-5px;
  width:8px;
  height:5px;
}
#u30_seg1 {
  position:absolute;
  left:-4px;
  top:-5px;
  width:220px;
  height:8px;
}
#u30_seg2 {
  position:absolute;
  left:208px;
  top:-6px;
  width:8px;
  height:9px;
}
#u30_seg3 {
  position:absolute;
  left:211px;
  top:-6px;
  width:5px;
  height:8px;
}
#u30_seg4 {
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u30_seg5 {
  position:absolute;
  left:204px;
  top:-12px;
  width:20px;
  height:20px;
}
#u31 {
  position:absolute;
  left:56px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u32 {
  position:absolute;
  left:398px;
  top:154px;
  width:176px;
  height:19px;
  font-size:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:180px;
  top:277px;
  width:0px;
  height:0px;
  color:#FF6633;
}
#u34_seg0 {
  position:absolute;
  left:-4px;
  top:-5px;
  width:8px;
  height:5px;
}
#u34_seg1 {
  position:absolute;
  left:-4px;
  top:-5px;
  width:220px;
  height:8px;
}
#u34_seg2 {
  position:absolute;
  left:208px;
  top:-6px;
  width:8px;
  height:9px;
}
#u34_seg3 {
  position:absolute;
  left:211px;
  top:-6px;
  width:5px;
  height:8px;
}
#u34_seg4 {
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u34_seg5 {
  position:absolute;
  left:204px;
  top:-12px;
  width:20px;
  height:20px;
}
#u35 {
  position:absolute;
  left:56px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u36 {
  position:absolute;
  left:398px;
  top:268px;
  width:144px;
  height:76px;
  font-size:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:182px;
  top:462px;
  width:0px;
  height:0px;
  color:#FF6633;
}
#u38_seg0 {
  position:absolute;
  left:-4px;
  top:-5px;
  width:8px;
  height:5px;
}
#u38_seg1 {
  position:absolute;
  left:-4px;
  top:-5px;
  width:220px;
  height:8px;
}
#u38_seg2 {
  position:absolute;
  left:208px;
  top:-6px;
  width:8px;
  height:9px;
}
#u38_seg3 {
  position:absolute;
  left:211px;
  top:-6px;
  width:5px;
  height:8px;
}
#u38_seg4 {
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u38_seg5 {
  position:absolute;
  left:204px;
  top:-12px;
  width:20px;
  height:20px;
}
#u39 {
  position:absolute;
  left:56px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u40 {
  position:absolute;
  left:400px;
  top:453px;
  width:166px;
  height:38px;
  font-size:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
